#Eclipse Project Files
.project
.settings
.texlipse

# Template files
*/gdb-aufgabenblatt.cls
*/sfmath.sty
*/uhh.pdf
*/vsis*
GDB-Abgabe_Vorlage

#TEX files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
